html,
body {
	height: 100%;
}
body {
	text-align: center;
	background-color: #0e1331;
	font-family: "Francois One", sans-serif;
	font-size: 25px;
	color: #f56dc3;
	letter-spacing: 5px;
}
.box {
	display: flex;
	flex-direction: column;
	align-item: center;
	justify-content: center;
	height: 100%;
}
.heart {
	position: relative;
	width: 100px;
	height: 90px;
	margin: 0 auto;
}
.heart:before,
.heart:after {
	position: absolute;
	content: "";
	left: 50px;
	top: 0;
	width: 50px;
	height: 80px;
	background-color: #f56dc3;
	border-radius: 50px 50px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
}
.heart:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}

h1 {
	margin-top: 0;
}
